
  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

  .carousel{
    height: 400px;
    width: 800px;
  }
  .bg-cv{
    background-color: rgb(73, 205, 215);
  }
  a{
    text-decoration: none;
    color: rgb(145, 236, 243);;
  }
  .carousel-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
    background-color: #f0f0f0; 
  }

  